/* index css file */
body {
/*    background-color: lightgrey;*/
    font-family: arial;
}

h1 {
    text-transform: uppercase;
}
/*a {
    background-color: lightblue;
    text-decoration: none;
    color: black;
}
*/
